body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2em;
}

h1 {
    color: goldenrod;
    font-size: 2em;
}

#message-el, #cards-el, #sum-el, #player-el {
    font-size: 1.5em;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 200px;
    background: goldenrod;
    padding: 10px 0;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 1.2em;
}